.appContainer {
  position: relative; /* Needed for absolute positioning of children */
  height: 100vh; /* Full height of the viewport */
  padding: 1rem; /* Space for content */
  /* Other styles for your app's layout */
}
.grid-item {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
